// Tablets and up
@media (min-width: 768px) {
  #home {
    &-a {
      .youtube {
        &-sub {
          display: flex;
        }
      }
    }

    &-b {
      .grid {
        padding-bottom: 1.5rem;
      }
    }
  }

  #about {
    &-a {
      .facebook-embed {
        display: block;
        border: none;
        margin: 0 auto;
      }
    }

    &-b {
      display: block;
    }
  }

  // #main-footer {
  //   background: $light-color;
  // }

  // Utilities
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

    &-item {
      padding: 1.2rem;
    }
  }

  // Hamburger Menu -- Man! I really want a good hamburger by now!!:D
  .hb-menu-wrap {
    .menu {
      li {
        padding: 3rem 15rem;
      }
    }
  }
}

// Desktops
@media (min-width: 900px) {
  // Nav Controls
  .hb-menu-wrap {
    display: none;
  }

  #main-nav {
    .container {
      flex-direction: row;
    }

    ul {
      display: flex;
      justify-content: space-between;
    }

    li {
      padding: 0 1.3rem 1rem;
    }
  }

  // Header Controls
  #header {
    &-home {
      background-position: center center / cover;
      height: 100vh;
    }

    &-about {
      background: $bg-image-about no-repeat 55% 50% / cover;
      height: 40vh;
    }

    &-services {
      background: $bg-image-services no-repeat 0 0 / cover;
      height: 40vh;
    }

    &-contact {
      background: $bg-image-contact no-repeat 55% 80% / cover;
      height: 40vh;
    }
  }

  // Sections
  #home {
    &-b {
      .grid {
        padding-bottom: 3rem;
      }
    }
  }

  #about {
    &-a {
      .bio-facebook-grid {
        grid-template-columns: 2fr 1fr;
      }
    }
  }

  #contact {
    &-a {
      form {
        width: 50vw;
      }

      button[type='submit'] {
        margin-bottom: 1rem;
      }
    }
  }

  // Footer
  #main-footer {
    .footer-content {
      flex-direction: row;
    }
  }

  // Utilities
  .grid {
    max-width: $website-width;
    margin: 0 auto;
  }
}
