// General Styles
* {
  margin: 0;
  padding: 0;
  font-family: 'quicksand', sans-serif;
  font-weight: 200;
  font-style: normal;
}

body {
  line-height: 1.6;
  background: #fff;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}
