@import 'reset';
@import 'config';
@import 'utilities';
@import 'hamburger-menu';

// Logo
#logo {
  color: #fff;
  padding-left: 1rem;

  &:hover {
    opacity: 0.9;
    transition: all 0.5s;
    color: $light-color;
  }
}

// Main Nav
#main-nav {
  padding-top: 2rem;
  padding-bottom: 1rem;
  background: rgba(0, 2, 62, 0.3);
  transition: 0.5s;
  position: fixed;
  top: 0px;
  width: 100%;
  // z-index: 5;

  .container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  ul {
    display: none;
    justify-content: center;
  }

  li {
    padding: 0 1rem 1rem;

    a {
      text-decoration: none;
      color: #fff;
      text-transform: uppercase;
      border-bottom: 2px transparent solid;
      padding-bottom: 0.5rem;
      transition: border-color 0.5s;

      &:hover {
        border-color: $light-color;
      }

      &.current {
        border-color: $medium-color;
      }
    }
  }
}

// Header Sections
#header {
  // Main-nav effect
  &-home,
  &-about,
  &-contact {
    .top {
      background-color: transparent;
    }
  }

  // Home Header
  &-home {
    background: $bg-image no-repeat 25% 100% / cover;
    height: 60vh;
    color: #fff;
    display: block;
  }

  // About Header
  &-about {
    background: $bg-image-about no-repeat 55% 40% / 135%;
    height: 25vh;
    color: #fff;
    display: block;
  }

  // Contact Header
  &-contact {
    background: $bg-image-contact no-repeat center center / cover;
    height: 25vh;
    color: #fff;
    display: block;
  }

  // Header Content
  .header-content {
    p {
      top: 53vh;
      font-size: 1.4rem;
      text-transform: none;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      text-transform: uppercase;
    }
  }
}

// // Header Inner
// &-inner {
//   background: $bg-image no-repeat 20% 30% / cover;
//   height: 5.5rem;
//   border-bottom: 3px solid $main-color;
// }

// Home Sections
#home {
  // Section A
  &-a {
    .youtube {
      &-embed-wrapper {
        padding: 0px 0 39.4%;
        position: relative;
      }

      &-embed-item {
        position: absolute;
        left: 50%;
        top: 0;
        height: 100%;
        width: 70%;
        transform: translateX(-50%);
      }

      &-sub {
        display: none;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 2rem 0;
        z-index: 5;

        i {
          padding: 0 1rem;
          color: $medium-color;
        }
      }
    }
  }

  &-b {
    .py-2 {
      padding-left: 2rem;
      padding-right: 2rem;
    }

    .grid {
      padding-bottom: 1rem;

      &-item {
        .fab {
          color: $dark-color;
        }

        &:hover {
          .fa-spotify {
            color: #1db954;
            transition: color ease-in-out 0.1s;
          }
          .fa-apple {
            color: #555555;
            transition: color ease-in-out 0.1s;
          }
          .fa-deezer {
            color: #ffc2e5;
            transition: color ease-in-out 0.1s;
          }
          .fa-amazon {
            color: #ff9900;
            transition: color ease-in-out 0.1s;
          }
        }

        p {
          color: $main-color;
        }
      }
    }
  }
}

// About Sections
#about {
  // Section A
  &-a {
    .py-2 {
      padding-left: 2rem;
      padding-right: 2rem;
    }

    .bio-facebook-grid {
      display: grid;
      // grid-template-columns: 2fr 1fr;
      grid-gap: 1rem;
    }

    .about-p {
      padding: 0.5rem;
      font-size: 1.1rem;
    }

    .facebook-embed {
      display: none;
      border: 2px solid $dark-color;
      border-radius: 3px;
    }
  }
  // Section B
  &-b {
    display: none;
  }
}

// Contact Sections
#contact {
  &-a {
    form {
      width: 80vw;
      margin: 0 auto;
    }

    input,
    textarea {
      border: 1px $main-color solid;
      outline: none;
    }

    input:focus,
    textarea:focus {
      border-color: $medium-color;
    }

    textarea {
      height: 8rem;
      resize: none;
    }

    .text-fields {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 1.2rem;
      margin-bottom: 1.2rem;

      .text-input {
        padding: 0.5rem 1rem;
      }
    }

    button[type='submit'] {
      width: 50%;
      outline: none;
    }
  }
}

// Footer
#main-footer {
  color: $main-color;

  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    * {
      padding: 0.3rem;
    }

    .social {
      padding-top: 1rem;

      .fab {
        margin-right: 1rem;
        border: 2px $main-color solid;
        border-radius: 50%;
        height: 20px;
        width: 20px;
        line-height: 20px;
        text-align: center;
        padding: 0.5rem;
        cursor: pointer;

        &:hover {
          background: #fff;
          transition: background ease-in-out 0.1s;
        }
      }

      .fa-viber:hover {
        color: #665cac;
        transition: color ease-in-out 0.1s;
      }
      .fa-youtube:hover {
        color: #ff0000;
        transition: color ease-in-out 0.1s;
      }
      .fa-facebook:hover {
        color: #1877f2;
        transition: color ease-in-out 0.1s;
      }
      .fa-instagram:hover {
        color: #833ab4;
        transition: color ease-in-out 0.1s;
      }
    }
  }
}

// Import Media Queries
@import 'media';
