@import 'reset';
@import 'config';
@import 'utilities';

// Logo
#logo {
  color: #fff;
  &:hover {
    opacity: 0.9;
    transition: all 0.5s;
    color: $light-color;
  }
}

// Main Nav
#main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 1rem;
  z-index: 5;

  ul {
    display: flex;
  }

  li {
    padding: 0 1.5rem;

    a {
      text-decoration: none;
      color: #fff;
      text-transform: uppercase;
      border-bottom: 2px transparent solid;
      padding-bottom: 0.5rem;
      transition: border-color 0.5s;

      &:hover {
        border-color: $light-color;
      }

      &.current {
        border-color: $medium-color;
      }
    }
  }
}

// Header
#header {
  // Header Home
  &-home {
    background: $bg-image no-repeat center right / cover;
    height: 100vh;
    color: #fff;
  }

  // Header About
  &-about {
    background: $bg-image-about center center / cover;
    height: 100vh;
    color: #fff;

    // Header Content
    .header-content {
      p {
        top: 53vh;
        font-size: 1.4rem;
        text-transform: none;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        text-transform: uppercase;
      }
    }
  }

  // // Header Inner
  // &-inner {
  //   background: $bg-image no-repeat 20% 30% / cover;
  //   height: 5.5rem;
  //   border-bottom: 3px solid $main-color;
  // }
}

// Home Sections
#home {
  // Section A
  &-a {
    .youtube {
      &-embed-wrapper {
        padding: 0px 0 39.4%;
        position: relative;
      }

      &-embed-item {
        position: absolute;
        left: 50%;
        top: 0;
        height: 100%;
        width: 70%;
        transform: translateX(-50%);
      }

      &-sub {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 2rem 0;
        z-index: 5;

        i {
          padding: 0 1rem;
          color: $medium-color;
        }
      }
    }
  }

  &-b {
    .grid {
      padding-bottom: 4rem;

      .fa-spotify {
        color: #1db954;
      }
      .fa-apple {
        color: #555555;
      }
      .fa-deezer {
        color: #ffc2e5;
      }
      .fa-amazon {
        color: #ff9900;
      }

      &-item {
        text-align: center;

        i {
          padding-right: 2rem;
        }

        p {
          color: $main-color;
        }
      }
    }
  }
}

// About Sections
#about {
  // Section A
  &-a {
    .bio-facebook-grid {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-gap: 1rem;
    }

    .about-p {
      padding: 0.5rem;
      font-size: 1.1rem;
    }

    .facebook-embed {
    }
  }
}

// Footer
#main-footer {
  background: $light-color;
  color: $main-color;
  height: 5rem;

  .footer-content {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center;

    .social .fab {
      margin-right: 1rem;
      border: 2px $main-color solid;
      border-radius: 50%;
      height: 20px;
      width: 20px;
      line-height: 20px;
      text-align: center;
      padding: 0.5rem;
      cursor: pointer;

      &:hover {
        background: #fff;
      }
    }
  }
}
